<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>관리자 배너 관리</title>
    <style>
        .list table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }

        .list table th, .list table td {
            border: 1px solid #444444;
        }

        .pager a.on {
            font-weight: bold;
            color: red;
        }

        .centerText {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>배너 관리 - 배너 수정</h1>
<div th:replace="~{/fragment/admin/header :: header}">관리자 헤더</div>
<br>

<div>
    <form method="post" enctype="multipart/form-data">
        <table>
            <tbody>
            <tr>
                <th>
                    <p th:text="#{bannerName}">배너명</p>
                </th>
                <td>
                    <input type="text" name="name" th:value="${banner?.name}" th:if="${editMode}">
                    <input type="text" name="name" th:value="${banner?.name}" th:if="${!editMode}" required>
                </td>
            </tr>
            <tr>
                <th>
                    <p th:text="#{bannerFile}">배너 파일</p>
                </th>
                <td>
                    <input type="file" name="file" th:value="${banner?.localFilename}" th:if="${editMode}">
                    <input type="file" name="file" th:value="${banner?.localFilename}" th:if="${!editMode}" required>
                </td>
            </tr>
            <tr>
                <th>
                    <p th:text="#{bannerUrl}">링크 주소</p>
                </th>
                <td>
                    <input type="text" name="url" th:value="${banner?.url}">
                </td>
            </tr>
            <tr>
                <th>
                    <p th:text="#{bannerOpen}">오픈 방법</p>
                </th>
                <td>
                    <select name="open" th:value="${banner?.open}" required>
                        <option value="" th:selected="|${banner?.open} = ''|">오픈 방법 선택</option>
                        <option value="new" th:selected="|${banner?.getOpen} = 'new'|">새 창</option>
                        <option value="notNew" th:selected="|${banner?.getOpen} = 'notNew'|">기존 창</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>
                    <p th:text="#{bannerOrder}">정렬 순서</p>
                </th>
                <td>
                    <input type="text" name="seq" th:value="${banner?.seq}" th:if="${editMode}">
                    <input type="text" name="seq" th:value="${banner?.seq}" th:if="${!editMode}" required>
                </td>
            </tr>
            <tr>
                <th>
                    <p th:text="#{bannerOpenPublicYn}">공개 여부</p>
                </th>
                <td>
                    <input type="checkbox" name="openPublicYn"
                           th:checked="${banner?.isOpenPublicYn()}" th:if="${editMode}">
                    <input type="checkbox" name="openPublicYn"
                           th:checked="${banner?.isOpenPublicYn()}" th:if="${!editMode}" required>공개
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" name=id th:value="${banner?.id}">
        <button th:if="${editMode}" type="submit">배너 수정 하기</button>
        <button th:if="${!editMode}" type="submit">배너 등록 하기</button>
        <a href="/admin/banner/list.do">목록 이동</a>
    </form>
</div>

</body>
</html>