<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
<h1>비밀번호 찾기</h1>
<div th:replace="~{/fragment/member/layout :: fragment-body-menu}"></div>

<form method="post">
    <div>
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" placeholder="이메일을 입력하세요" required>
    </div>
    <div>
        <label for="userName">이름</label>
        <input type="text" id="userName" name="userName" placeholder="이름을 입력하세요" required>
    </div>
    <button type="submit">비밀번호 초기화 요청</button>
</form>

</body>
</html>