<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 초기화</title>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('form').on('submit', function () {
        var password = $(this).find('input[name=password]').val(); // this: form
        // name이 password인 input태그 값을 form에서 찾아서 var password로 지정한다.
        var rePassword = $(this).find('input[name=rePassword]').val();

        if (password !== rePassword) {
          alert('입력하신 비밀번호와 비밀번호 확인 값이 일치하지 않습니다.')
          return false; // 데이터를 서버로 보내지 않음
        }
      });
    });
  </script>
</head>
<body>
<h1>회원 비밀번호 초기화</h1>
<div th:replace="~{/fragment/member/layout :: fragment-body-menu}"></div>

<div th:if="${result}">
<form method="post">
  <div>
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요." required>
  </div>
  <div>
    <label for="rePassword">비밀번호 확인</label>
    <input type="password" id="rePassword" name="rePassword" placeholder="비밀번호를 한번 더 입력하세요." required>
  </div>
  <div>
    <button type="submit">비밀번호 초기화</button>
  </div>
</form>
</div>

<div th:if="${result eq false}">
  <p>링크가 더 이상 유효하지 않습니다.</p>
  <div>
    <a href="/index">메인으로</a>
  </div>
</div>



</body>
</html>